<?xml version="1.0"?>
<robot name="gogoro_and_thormang3" xmlns:xacro="https://www.ros.org/wiki/xacro">
    
    <!-- Import Gogoro and Thormang3 model -->
    <!-- <xacro:include filename="$(find gogoro_description)/urdf/thormang3_gogoro.xacro"/> -->
    <xacro:include filename="$(find gogoro_description)/urdf/gogoro.urdf"/>

    <!-- Dummy link for Thormang3 -->

    <link name="pelvis_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <sphere radius="0.5"/>
            </geometry>
            <material name="grey"/>
        </visual>

        <inertial>
            <origin xyz="-0.011 0.0 0.058" rpy="0 0 0"/>
            <mass value="6.869"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
        </inertial>
    </link>

    <!-- Connect Thormang3 pelvis to Gogoro's body -->

    <joint name="thormang3_fixed_gogoro" type="fixed">
        <origin xyz="0 0 -.9" rpy="0 0 0"/>
        <parent link="pelvis_link"/>
        <child link="body"/>
    </joint>

    <joint name="imu_fixed" type="fixed">
        <parent link="pelvis_link"/>
        <child link="imu_link"/>
        <origin xyz="0.03 0 0.0" rpy="0 0 ${pi}"/>
    </joint>

    <link name="imu_link">
    </link>


    <!-- Gazebo Plugins -->
    <gazebo>
        <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">			
            <frameName>map</frameName>
            <bodyName>pelvis_link</bodyName>
            <topicName>odom</topicName>
            <updateRate>100.0</updateRate>
        </plugin>
    </gazebo>	

    <gazebo>    
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
            <alwaysOn>true</alwaysOn>       
            <bodyName>imu_link</bodyName>
            <topicName>/robotis/sensor/imu</topicName>
            <serviceName>imu_service</serviceName>
            <gaussianNoise>0.0</gaussianNoise>
            <updateRate>10.0</updateRate>
            <imu>
                <noise>
                    <type>gaussian</type>
                    <rate>
                        <mean>0.0</mean>
                        <stddev>2e-4</stddev>
                        <bias_mean>0.0000075</bias_mean>
                        <bias_stddev>0.0000008</bias_stddev>
                    </rate>
                    <accel>
                        <mean>0.0</mean>
                        <stddev>1.7e-2</stddev>
                        <bias_mean>0.1</bias_mean>
                        <bias_stddev>0.001</bias_stddev>
                    </accel>
                </noise>
            </imu>
        </plugin>
    </gazebo>

</robot>
